/**
 * name     : ext.css
 * task     : style sheet
 * git      : https://github.com/pffy/nimbus
 * author   : The Pffy Authors https://pffy.dev
 * license  : https://opensource.org/licenses/MIT
 */


body {
  margin: 10px;
}

h1 {
  font-family: arial;
  font-size: 24pt;
  font-weight: 900;
}

textarea {
  color: navy;
  background-color: lightgreen;
  width: 350px;
  height: 300px;
  margin-right: 5px;
  font-size: 14pt;
  font-family: Helvetica;
}

#tinput {
  font-size: 16pt;
  font-family: chinese;
}

#toutput {
  font-weight: 900;
}

#msgbox {
  position: absolute;
  top: 100px;
  left: 100px;
  color: black;
  background-color: yellow;
  padding: 25px;
  margin: 5px;
  font-weight: bold;
  font-size: 48pt;
  display: none;
  z-index: 99;
  font-family: Arial;
}

/* not sure if this is needed */
.kaiti {
  font-family: "WenQuanYi Micro Hei", "UKai", "STKaiTi", "KaiTi";
}

